<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
          <h1 class="display-4 py-2 text-truncate">Center my form.</h1>
          <div class="px-2">
            <form action="" class="justify-content-center">
              <legend class="wtrShtIconBoxTitle text-left text-primary">Iniciar Sesión</legend>
              <div class="form-group">
                <label class="sr-only">Username</label>
                <input type="text" class="form-control" placeholder="username">
              </div>
              <div class="form-group">
                <label class="sr-only">Password</label>
                <input type="text" class="form-control" placeholder="password">
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
